<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBIqeGnG3cguDgAbE5ORL8gszWMnaTUmTI</string>
	<key>GCM_SENDER_ID</key>
	<string>848097395615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instructorBeatsAdmin</string>
	<key>PROJECT_ID</key>
	<string>instructor-beats-13db1</string>
	<key>STORAGE_BUCKET</key>
	<string>instructor-beats-13db1.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:848097395615:ios:031a072910cca6e71433aa</string>
</dict>
</plist>